# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Gradio & Hugging Face certificates (optional)
.gradio/certificate.pem
